.cell{
    border: 1px solid blue ;
    margin: 1px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px) ;
    border: solid blue 1px;
    
    /* grid-template-areas: 
    "Header Header Header"
    "Main Main . Sidebar"
    "Main Main Article Sidebar"
    "Aside . . sidebar"
    ". footer footer footer";
} */
    justify-items: stretch;
    
}    

.cell-a{
    grid-area: Header;
    
    grid-column:1/4;
    grid-row:1/2;
   
}
.cell-b{
    grid-area: Sidebar;
   
    grid-column:4/5;
    grid-row:3/5;
    
}
   
.cell-c{
    grid-area: Main;
    grid-column:1/3;
    grid-row:2/4;
   
}
.cell-d{
    grid-area: Footer;
    grid-column:2/5;
    grid-row:5/6;
   
  
}
   
.cell-e{
    grid-area: Article;
    grid-column:3/4 ;
    grid-row:3/4 ;
}
.cell-f{
    grid-area: Aside;
    grid-column:1/2;
    grid-row:4/5;
    
}
.cell-g{
    grid-area: Navbar;
    grid-column:3/5;
    grid-row:2/3;
}